*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (orientation : portrait){
    .container{
        border-radius: 0;
        background-color: red;
    }
}
@media screen and (orientation : landscape){
    .container{
        border-radius: 20%;
        background-color: yellow;
    }
}
